.formulario{
    align-items: center;
    background: var(--azul-verdoso-claro);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.formulario__titulo{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 600;
}

.formulario__form{
    width: 50%;
}

.formulario__dato{
    background: aliceblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0.5rem;
}
.formulario__etiqueta{
    color: var(--azul-verdoso-oscuro);
    font-size: 1.1rem;
}

.formulario__input{
    background: aliceblue;
    border: none;
    outline: none;
    padding-top: 1rem;
}

.formulario__botones{
    align-items: center;
    display: flex;
    justify-content: center;
}

.formulario__boton{
    background: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 1rem;
    color: var(--azul-verdoso-oscuro);
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 1rem;
}
.formulario__boton:hover{
    background:var(--azul-verdoso-claro);
    color: aliceblue;
    transition: 0.3s;
}

.formulario__boton:disabled{
    background:var(--azul-verdoso-claro);
    border: 1px solid gray;
    color: gray;
    cursor:default;
}

.error__contenedor{
    padding: 0.3rem;
}

.error__mensaje{
    color: var(--rojo);
}